
# Hugo build output
public/
resources/
.hugo_build.lock
content/intelligence-reporting/report-template.md
content/intelligence-reporting/testReport.md

.hugo_cache/
hugo_stats.json

.DS_Store
Thumbs.db
*~
*.swp
*.swo

*.log

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.*

config.local.*
